:root{
    --bg: #404040;
    --bg-darkened: #333333;
    --orange: #f2af6f;
    --darkened-orange: #f0a35c;
    --blue: #6cd7f4;
    --darkened-blue: #00bcef;
    --green: #baf26f;
    --darkened-green: #99eb2d;
    --almost-white: rgb(226, 226, 226);
    --darkened-almost-white: rgb(182, 182, 182);

}

/* scan-tickets.html */

body{
    background-color: var(--bg);
    color: var(--almost-white);
}

button{
    background-color: var(--blue);
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

video{  
    border: 6px solid red;
    border-radius: 20px;
}

/* Party Host Dashboard */

.brief-party-details{
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 10;
    overflow: hidden;
}

#hostName{
    font-size: 20px;
    font-weight: bold;
}

.listing-button{
    background-color: var(--blue);
}

#myinfo{
    background-color: #797979;
    padding: 10px;
}

.party-item-display{
    display: flex;
    padding: 10px;
    background-color: #797979;
}

.party-item-display:hover{
    display: flex;
    padding: 10px;
    background-color: #9c9c9c;
    border: 5px solid white;
}


.party-modifying-options{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
}

.party-modifying-options button{
    width: 100%;
}

.party-modifying-options button:hover{
    width: 100%;
    background-color: var(--darkened-blue);
}


.scrollable-events-data{
    overflow-y: auto; 
}


.shrunk-party-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square-image-container{
    width: 15%;
    margin-right: 5px;
}





